<!DOCTYPE html>
<html>
  <head>
    <title>Hola mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>Nombre: Jose Luna</p>
    <p>Cedula: V-26.973.734</p>
    <p>Sección: 4 </p>
  </body>
</html>
